<!DOCTYPE html>
<html ng-app="App">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body ng-controller="mainController">
<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Node-Angular Js StarterKit</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">
    <div ng-view></div>
</div>
<!-- Library Files -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/javascripts/lib/bootstrap.min.js"></script>
<script src="/javascripts/lib/angular.min.js"></script>
<script src="/javascripts/lib/angular-route.min.js"></script>
<!-- Application Files -->
<script src="/javascripts/init.js"></script>
<script src="/javascripts/util/router.js"></script>
</body>
</html>
